@font-face {
    font-family: 'BoomBox 2';
    src: url('BoomBox-2.woff2') format('woff2'),
        url('BoomBox-2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Subway Novella';
    src: url('SubwayNovella.woff2') format('woff2'),
        url('SubwayNovella.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

